.vh-gap {
    height: 35vh;
}
.blockD {
    height:10vh;
    width: 20vw;
    font-size: small;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
 
}
.bigIcon {
    font-size: 5rem;
    font-weight: 500;
}